<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=content-width initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RestaurantDashboard.css') }}"/>
    <title>Restaurant Dashboard</title>
</head>
<body>
    <div class="main">
        <div class="topbar">
            <div class="user">
                <a href="{{ url_for('logout') }}"><ion-icon name="person-circle-outline"></ion-icon></a>
            </div>
        </div>
        <div class="powerBIContainer" id="reportContainer">
            <form action="{{ url_for('dashboard') }}" method="POST" autocomplete="on">
                <iframe title="Creativa Report Ver 3.2" width="800" height="836" src="https://app.powerbi.com/view?r=eyJrIjoiMzFmN2YyMTItYTdiOC00Y2JiLTg0M2YtMjUyNjdlYTk4YmI3IiwidCI6ImM4ODk3ZDVkLTNiOGYtNDFjYi04ZjRjLWFhM2FkZjA1OWJmZCJ9&embedImagePlaceholder=true" frameborder="0" allowFullScreen="true"></iframe>
            </form>    
        </div>
    </div>
    <script type="text/javascript">
        // Replace this code with your Power BI embedding code using the embed token
        var embedConfig = {
            type: 'report',
            report_id: 'dda3cb1c-7400-4408-b480-aeaecda0bc7a',
            workspace_id: 'c8897d5d-3b8f-41cb-8f4c-aa3adf059bfd',
            embedUrl: 'https://app.powerbi.com/reportEmbed?reportId={{report_id}}&autoAuth=true&ctid={{workspace_id}}',
            tokenType: models.TokenType.Embed,
            accessToken: '{{ embed_token }}', // Use Flask template syntax to inject the embed token
            settings: {
                filterPaneEnabled: false,
                navContentPaneEnabled: false
            }
        };

        var reportContainer = document.getElementById('reportContainer').value;
        var report = powerbi.embed(reportContainer, embedConfig);
        console.log("Console Report : ", report);
    </script>
    <script src="https://microsoft.github.io/PowerBI-JavaScript/assets/iframeEmbed.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
